.layout {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
}
.header {
  padding: 0.5em 0;
  font-size: 3rem;
  font-weight: bold;
  color: gray;
}
.heading {
  color: rebeccapurple;
}
